html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  font-family: sans-serif;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button,
select {
  width: fit-content;
  font-family: inherit;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 34rem;
    width: 34rem;
    border: 4px solid black;
}

.container div {
    aspect-ratio: 1 / 1;
    width: calc(100% / 16);
    border: 1px solid darkgray;
}

.hovered {
    background-color: black;
}